<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='weui/lib/weui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='weui/css/jquery-weui.css') }}">
    <style>
        table {border: solid #f0f0f0 1px;width: 100%;border-collapse: collapse;}
        th, td {text-align: left;border-bottom: 1px solid #f0f0f0;height: 30px;padding: 5px;}
        tr:hover{ background: #f0f0f0 }
    </style>
    {% block static %}{% endblock %}
</head>
<body>
{% block body %}
    <div class="weui-tabbar">
        <a href="departments" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <img src="{{ url_for('static', filename='weui/images/icon_nav_button.png') }}" alt="">
            </div>
            <p class="weui-tabbar__label">部门管理</p>
        </a>
        <a href="users" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="{{ url_for('static', filename='weui/images/icon_nav_msg.png') }}" alt="">
            </div>
            <p class="weui-tabbar__label">人员管理</p>
        </a>
        <a href="" class="weui-tabbar__item">
            <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">5</span>
            <div class="weui-tabbar__icon">
                <img src="{{ url_for('static', filename='weui/images/icon_nav_article.png') }}" alt="">
            </div>
            <p class="weui-tabbar__label">消息</p>
        </a>
        <a href="" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="{{ url_for('static', filename='weui/images/icon_nav_cell.png') }}" alt="">
            </div>
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
{% endblock %}
</body>
<script src="{{ url_for('static', filename='weui/lib/jquery-2.1.4.js') }}"></script>
<script src="{{ url_for('static', filename='weui/js/jquery-weui.js') }}"></script>
</html>