{% extends 'layout.html' %}
{% block title %} 用户列表 {% endblock %}
{% block static %}

{% endblock %}
{% block body %}
{{ super() }}
    <table>
        <tr>
            <th>部门id</th>
            <th>用户id</th>
            <th>姓名</th>
            <th>管理</th>
        </tr>
        {% for uls in userList %}
        <tr>
            <td>{{ uls.department }}</td>
            <td>{{ uls.userid }}</td>
            <td>{{ uls.name }}</td>
            <td><a href="">查看</a> | <a href="javascript:void(0);" name="{{ uls.name }}" onclick="sendMsg(this.id, this.name)" id="{{ uls.userid }}">信息</a></td>
        </tr>
        {% endfor %}
    </table>
    <div class="sendMsg"></div>
<script>
    function sendMsg(userid, username) {
        var str = "<form action='/client/sendMsg' method='get'><label for='message'>";
        str += username + ":</label>";
        str += "<input name='message' type='text' value='' placeholder='内容'/>";
        str += "<input name='userid' type='text' value='"+ userid +"' style='display: none'>";
        str += "<input type='submit' value='发送'></form>";
        document.getElementsByClassName("sendMsg")[0].innerHTML = str;
    }
</script>
{% endblock %}